<% include ../partials/head.ejs %>
<title>Login</title>
</head>
<body class="no-js">
	<header>
		<% include ../partials/header.ejs %>
	</header>
	<main>
		<h1>Account<span>login</span></h1>
		<section id="login">
			<header>
				<h2>Login</h2>
			</header>
			<p>Have an account? Login here!</p>
			<form class="" action="/account/login" method="post">
				<label for="username">Username</label>
				<input type="text" name="username" value="">
				<label for="password">Password</label>
				<input type="text" name="password" value="">
				<button type="submit" name="button">Inloggen</button>
			</form>
		</section>
		<section>
			<header>
				<h2>New Account</h2>
			</header>
			<p>Don't have an account yet?</p>
			<a href="#">Create one here</a>
		</section>
	</main>
</body>
</html>
