:root {
	/* Custom properties for fonts */
	--font-body: 'open sans', sans-serif;
	--font-heading: 'futura-pt', sans-serif;
	/*  Custom properties for colors*/
	--primary-accent: rgb(136, 75, 232);
	--secondary-accent: rgb(222, 205, 29);
	--alt-primary-accent: rgb(170, 131, 232);
	--font-body-color: rgb(207, 207, 207);
	--bg1: rgb(32, 34, 37);
	--bg2: rgb(54, 57, 63);
	--bg3: rgb(47, 49, 54);
	--line: rgb(68, 68, 68);
}

/* Some resets and defaults settings */
body {
	/* Sets standard properties */
	font-family: var(--font-body);
	color: var(--font-body-color);
	background-color: var(--bg2);

	/* resets user-agents stylesheet*/
	margin: 0;
}

h1 {
	font-family: var(--font-heading);
}

/* Header settings */
header {
	background-color: var(--bg1);
	padding: 0 10px;
	padding-top: 3rem;
	height: 100%;
	border-bottom: 1px solid var(--alt-primary-accent);
}

header h1 {
	display: inline-block;
	font-size: 2.5em;
	margin: 0;
}

header h1:last-child {
	font-size: 1.25em;
	color: var(--primary-accent);
}


/* main settings */
main > section {
	background-color: var(--bg3);
	max-width: 30rem;
	margin: 10px;
	border-radius: 10px;
}

section h2 {
	display: none;
}

/* article with game settings */
.addgame article {
	display: flex;
	justify-content: space-around;
	padding: 10px 5px;
	align-items: center;
	/* height: 2em; */
	border-top: 1px solid var(--line);
}

.addgame article > div {
	width: 55px;
	height: 80px;
	border: 1px dashed var(--secondary-accent);
	margin-left: 45px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
	order: 2;
	flex: 0 0 auto;
	border-radius: 5px;
}

.addgame {
	color: var(--secondary-accent);
	text-decoration: none;
}

.game {
	display: flex;
	justify-content: space-around;
	padding: 10px 5px;
	align-items: center;
	/* height: 2em; */
	border-top: 1px solid var(--line);
}

.game:first-child {
	border: none;
}

.addgame h3,
.game h3 {
	font-size: 1em;
	font-weight: normal;
	order: 3;
	flex-grow: 2;
	padding: 0 15px;
	margin: 0;
}

.game img {
	max-height: 80px;
	max-width: 55px;
	order: 2;
	flex: 0 0 auto;
	border-radius: 5px;
}

.game form {
	order: 1;
	flex: 0 0 auto;
	margin: 0;
	margin-right: 5px;
	width: 40px;
	height: 40px;
}

.game button {
	padding: 0;
	border: none;
	background-color: rgba(255, 255, 255, 0);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}

.trashIcon {
	background-image: url('/icons/trash.png');
}
.addIcon {
	background-image: url('/icons/add-icon.svg');
}
