<% include ./partials/head.ejs %>
<title>Login</title>
</head>
<body class="no-js">
	<header>
		<% include ./partials/header.ejs %>
		<h1>Account<span>login</span></h1>
	</header>
	<main>
		<% if (notification) { %>
			<% include ./partials/notification.ejs %>
		<% } %>
		<% if (query) { %>
			<section>
				<header>
					<h2>Login required</h2>
				</header>
				<p>You need to login to access this area</p>
			</section>
		<% } %>
		<section id="login" class="user-input">
			<header>
				<h2>Login</h2>
			</header>
			<p>Already have an account? Login here!</p>
			<form class="" action="/login?<%= query %>" method="post">
				<label for="username">Username</label>
				<input type="text" name="username" value="">
				<label for="password">Password</label>
				<input type="password" name="password" value="">
				<button type="submit" name="button">Inloggen</button>
			</form>
		</section>
		<section>
			<header>
				<h2>New Account</h2>
			</header>
			<p>Don't have an account yet?</p>
			<a href="/account/register">Create one here</a>
		</section>
	</main>
</body>
</html>
