<% include head.ejs %>
<title>My Games</title>
</head>
<body class="no-js">
	<header>
		<%# include header.ejs %>
	</header>
	<main>
		<h1>Profile<span>my games</span></h1>
		<section class="games-list">
			<a href="gamesearch" id="addgame">
				<article class ="game">
					<h3>Add Game</h3>
					<div class="addIcon"></div>
				</article>
			</a>
			<% for (var index = 0; index <data.length; index++) { %>
			<article class="game">
				<h3><%= data[index].title %></h3>
				<img src=<%= data[index].img %>>
				<form class="" action="delete/<%= data[index].id %>" method="post">
					<button type="submit" class="trashIcon"></button>
				</form>
			</article>
			<% } %>
		</section>
	</main>
	<script src="/scripts/gamelibrary.js"></script>
</body>
</html>
