<% include ../partials/head.ejs %>
<title>Add games</title>
</head>
<body>
	<header>
		<% include ../partials/header.ejs %>
		<h1>Profile<span>my games</span></h1>
	</header>
	<main>
		<% if (!user) { %>
		<% include ../account/loginForm.ejs %>
		<% } else { %>
			<section id="search" class="user-input">
				<form class="" action="search/query" method="get">
					<input type="text" name="q" value="">
					<button type="submit">Search</button>
				</form>
			</section>
			<section>
				<% for (var index = 0; index <data.length; index++) { %>
				<article class="card-game">
					<h3><%= data[index].title %></h3>
					<img src=<%= data[index].img %>>
					<form class="" action="/games/<%= data[index].id %>" method="post">
						<button class="icon-plus" type="submit" class="addIcon">Add Game</button>
					</form>
				</article>
				<% } %>
			</section>
		<% } %>
	</main>
</body>
</html>
